<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../static/street-lamp.png" />
    <title>StreetLight</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../static/login43.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  </head>
  <body>


<form method="post">

    {{form.hidden_tag()}}

    <div class="card" style="width: 20rem;">
      <img src="../static/streetlightfinal.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-family:Pacifico;font-size:200%;" align=center>Street Light Project</h5>
        <br>

        <center><p style="color:black;">Have an ID?<a style="font-family:Dancing Script;color:black;" ><b>Log IN</b></a></p></center>{{form.email(class_="form-control",placeholder="Enter Email Address..")}}

    {{form.password(class_="form-control",placeholder="Password")}}

  <div> <label><input type="checkbox" checked="checked" name="remember"> Remember me</label></div>
   <br>

<div class="wrapper">
  {{form.submit(class="btn")}}
   </div>
   <hr>
   <div class="wrapper">


   <p>Don't have an account? <a href="{{ url_for('register') }}" style="color:#000099"><b>Sign Up</b></a></p>

   </div>
  </div>
</div>
</form>
<br>
<br>
<br>
<!--NAV bar for registration-->
<!-- Footer -->
<div class="footercolor">
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase"><b>About</b></h5>
          <p>This is a website designed by students of MBCET for their project. Please login using your Email and password to visit the website. If you don't have an email and password please click on the sign up link above.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase" style="font-family:Dancing Script;color:white;">Get the app</h5>

            <ul class="list-unstyled">
              <br>
              <li>
              <a href="https://play.google.com/store/apps/details?id=menloseweight.loseweightappformen.weightlossformen&hl=en" target="_blank"><img src="http://www.niftybuttons.com/googleplay/googleplay-button2.png" alt="Get on Google Play (Button via NiftyButtons.com)"></a>
              </li>

            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
<h5 class="text-uppercase" style="font-family:Dancing Script;color:white;">College</h5>


            <ul class="list-unstyled">
              <li>
                <a href="https://mbcet.ac.in" target="_blank"><img src="../static/220px-MBCET_emblem.png" alt="" style="width:40%;height:40%"></a>
              </li>
              <li><b>Mar Baselios College of Engineering & Technology,Thiruvananthapuram</b></li>

            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright © 2019 Streetlightmbcet - All Rights Reserved.
      <a href="https://mbcet.ac.in"> MBCET.ac.in</a>
    </div>
    <!-- Copyright -->

  </footer>
</div>
  <!-- Footer -->
  </body>
</html>
